/* ************************************ */
/* *********** CNH Info *************** */
/* ************************************ */
.cnh-modal {
    padding: 0 1rem;
}

.cnh-cards-container h1 {
    text-align: center;
    padding: 1rem 0 0.5rem 0;
    font-size: 2rem;
}

.cnh-cards-container p {
    padding: 0.5rem;
}

.cnh-cards-container h3 {
    padding: .5rem 0rem;
    text-transform: uppercase;
}

.cnh-cards-container ul {
    margin-bottom: .5rem;
}

.cnh-cards-container ul li::before {
    content: '🚫';
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    width: 0.5rem;
    margin: 1rem 1.25rem 0 0rem;
}

.cnh-cards-container button {
    text-align: center;
    margin: 20px 0;
    padding: 0.75rem;
    font-weight: 700;
    font-size: 1.5rem;
    box-shadow: 0 7px 10px #152b40;
}

.whats-btn-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 58px;
}

.line {
    display: block;
    width: 40px;
    height: 3px;
    margin: 5px auto;
    background-color: #BF9563;
}

.cnh-card button:hover {
    background-color: #152b40;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 7px 10px #152b40;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #152b40;
    text-decoration: none;
    cursor: pointer;
}

/* ***************** */
/*     Servicos      */
/* ***************** */
.cnh-works {
    background-color: #152b40;
    color: #fafafa;
    min-height: 100svh;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0;
}

.cnh-works .cnh-works-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cnh-works-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: left;
}

.cnh-works-col h1 {
    /* color: #bf9563; */
    text-align: center;
}

.cnh-works-col h2 {
    margin: 2rem 0 0.75rem 0;
    font-size: 1.75rem;
    text-decoration: underline;
}

.cnh-works-col p {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
}

.cnh-works-col ul li {
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 400;
}

.cnh-works-col ul li::before {
    content: '✅';
    font-size: 1.25rem;
    display: inline-block;
    width: 0.5rem;
    margin: 1rem 1.25rem 0 0;
}

.cnh-works-container img {
    width: 75%;
    height: auto;
    /* max-width: 480px; */
    margin: auto;
}

/* ********************************* */
/* ******* CNH Enganjamento ******** */
/* ********************************* */
.cnh-engage {
    /* background-color: #152b40; */
    /* color: #fafafa; */
    /* height: 100svh; */
    min-height: 100svh;
    height: 100%;
    width: 100%;
    display: grid;
    margin: auto;
    padding: 5rem 1.25rem;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    /* grid-template-columns: minmax(370px, 480px); */
}

/* .cnh-engage img { */
/* background-color: #152b40; */
/* width: 50vw; */
/* max-width: 560px; */
/* margin: auto; */
/* padding: 1rem; */
/* box-shadow: 0 7px 10px #BF9563; */
/* } */

.cnh-engage .cnh-engage-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cnh-engage .cnh-engage-content h1 {
    padding: 1rem 0 0 0;
    color: #152B40;
    text-shadow: 0 1px 2px #BF9563;
}

.cnh-engage .cnh-engage-content h2 {
    padding: 1.5rem;
}

/* =========== MOBILE =========== */
@media screen and (max-width: 900px) {
    .cnh-info {
        padding: 0.5rem;
    }

    .cnh-info ul li {
        display: flex;
        margin: 0.75rem 0;
    }

    .cnh-info ul li::before {
        margin: 0 1.25rem auto 0;
    }

    .whats-btn-wrapper {
        padding: 25px 0;
    }

    /* Modal Content */
    .modal-content {
        width: 95%;
        padding: 5px;
    }

    .cnh-works .cnh-works-container {
        padding-top: 25px;
        grid-template-columns: 1fr;
    }

    .cnh-works-container img {
        width: 90%;
        height: auto;
    }

    .cnh-works-col {
        padding: 0.75rem;
    }

    .cnh-engage {
        height: 100%;
        /* justify-content: center; */
        /* grid-template-columns: minmax(370px, 480px); */
    }
}