.footer {
    width: 100%;
    background-color: #152B40;
    color: #ddd;
    padding: 1rem 1rem;
    position: relative;
}

/* .footer::before {
    content: '';
    background: url('../../images/livros.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

.footer .container {
    max-width: 1240px;
    margin: auto;
    text-align: center;
}