@media screen and (max-width: 640px) {
  .lb-hero:before {
    background-attachment: scroll;
    background: url('../images/cidade-image-fundo-min.webp') no-repeat center center/cover;
  }

  /* .lb-hero .content img {
    margin-top: 0%;
  } */

  .lb-hero .lb-content p:first-child {
    font-weight: 500;
    font-size: 1.5rem;
}

.lb-hero .lb-content p:nth-child(2) {
  font-weight: 400;
  font-size: 1.2rem;
}

}