  @media screen and (max-width: 940px) {
    .quem-somos {
      width: 100vw;
      padding: 1rem 0;
      margin: auto;
    }

    .quem-somos .col-2 {
      padding: .75rem;
      text-align: justify;
    }

    .quem-somos .container {
      width: 95%;
      grid-template-columns: 1fr;
    }

    .quem-somos img {
      width: 100%;
      padding: 0 15px ;
    }

    .quem-somos .equipe-quem-somos {
      grid-template-columns: 1fr;
    }
  }