.icon-wp {
    display: grid;
    column-gap: 1px;
    grid-template-columns: 15% auto;
}

.icon-wp .btn-text {
    margin: auto;
    /* color: #FAFAFA; */
}

.button-wp {
    margin: 1rem 0;
    padding: .5rem;
    color: #fafafa;
    font-weight: bolder;
    width: 320px;
    letter-spacing: .8px;
    background-color: #0F6120;
    border: 1px solid #FAFAFA;
}

.button-wp:hover {
    background-color: #25D366;
    border: 1px solid #FAFAFA;
    transform: scale(1.1);
}