.inventario-hero {
    color: #152B40;
    background-color: #FAFAFAAA;
    /* color: #FAFAFA;
    background-color: #152B40AA; */
    height: 100svh;
    width: 100%;
    position: relative;
}

.inventario-hero::before {
    content: '';
    background: url('../images/inventario-hero-background.webp') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-attachment: fixed;
}

.content-hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    padding-top: 0;
}

/* .content-hero>img {
    height: auto;
    margin-bottom: 75px;
} */

.inventario-hero>img {
    margin: 25px 0 -30px 2rem;
    height: auto;
}

.inventario-text h1 {
    font-weight: 700;
    /* text-shadow: 0 3px 7px #BF9563; */
    font-size: 5rem;
    margin-bottom: 25px;
}

.inventario-text p {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 2.25rem;
}

.inventario-text p:nth-child(4) {
    font-size: 3rem;
}

/* *************************** */
/*           SERVICOS          */
/* *************************** */
.inventario-servicos {
    height: 100%;
    width: 100%;
    color: #152B40;
    max-width: 1240px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 100px auto;
}

.col-servicos {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 2rem;
}

.col-servicos>h2 {
    font-size: 2.5rem;
    text-align: center;
}

.col-servicos p {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 2rem;   
}

/* ************************** */
/*         M O B I L E        */
/* ************************** */
@media (max-width: 940px) {
    .content-hero>img {
        width: 85svw;
        max-width: 480px;
        margin-top: 50px;
        margin-bottom: 25px;
    }    
}