* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
}

.line {
    display: block;
    width: 40px;
    height: 3px;
    margin: 5px auto;
    background-color: #BF9563;
}

a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

/* HERO */
.distrato-hero {
    background-color: #152b40c8;
    color: #fafafa;
    background-size: 50px 10%;
    height: 100svh;
    width: 100svw;
    position: relative;
}

.distrato-hero::before {
    content: '';
    background: url('../images/buildings.webp') no-repeat center center/cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.distrato-hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 25svh 2rem;
}

.distrato-hero .content-img {
    /* width: 18%; */
    max-width: 480px;
    height: auto;
    padding: 0 1rem 2rem 1rem;
}

.distrato-hero .content h1 {
    color: #D9D0BF;
    text-shadow: 0 1px 2px #000;
}

.distrato-hero .content .distrato-text p:first-child {
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 1rem;
}

.distrato-hero .content .distrato-text p:nth-child(2) {
    font-weight: 900;
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 5px;
}

/* WhatsApp */
.icon-wp {
    display: grid;
    column-gap: 1px;
    grid-template-columns: 15% auto;
}

.icon-wp .btn-text {
    margin: auto;
}

.button-wp {
    margin: .5rem 0;
    padding: .25rem;
    color: #fafafa;
    font-weight: bolder;
    width: 320px;
    letter-spacing: .8px;
    background-color: #0F6120;
    border: 1px solid #FAFAFA;
}

/* WAVE */
.wave-path-up {
    fill: #fafafa;
    transform-origin: center;
    transform: rotate(180deg);
}

.wave-svg {
    height: 50px;
    /* width: calc(100% + 1.3px); */
    width: 100%;
    /* margin-bottom: -.4rem; */
}

/* ************ MOBILE ************* */
@media screen and (max-width: 940px) {
    .distrato-hero {
        width: 100%;
    }

    .distrato-hero .content {
        padding: 2rem 1rem;
    }

    .distrato-hero::before {
        /* Canceles the parallax scrolling effect */
        background-attachment: scroll;
    }

    .distrato-hero .content-img {
        width: 75svw;
        max-width: 480px;
        padding: 0 1rem 2rem 1rem;
    }

    .distrato-hero .content h1 {
        margin-top: 1rem;
    }

    .distrato-hero .content .cnh-text p:first-child {
        margin-top: .5rem;
        font-size: 10rem;
    }

    .distrato-hero .content .distrato-text p:nth-child(2) {
        /* font-size: 1rem; */
        margin-top: 1rem;
    }

    /* WAVE */
    .wave-svg {
        height: 25px;
        /* width: calc(125% + 1.3px); */
        width: 100%;
    }
}