/* ------------------ */
/*       DORES        */
/* ------------------ */
.dist-dores {
    background-color: #fafafa;
    color: #152b40;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10vh 0;
}

.header-dist {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.header-dist span {
    font-weight: 700;
    font-size: 2rem;
}

/* .dores-header {
    font-size: 1.25rem;
    font-weight: 700;
} */

.dist-container {
    width: 90vw;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.dist-container p {
    padding: 1rem 0;
    line-height: 1.35;
}

.dist-container h3 {
    padding-top: 2rem;
}

.dist-container ul li::before {
    content: '✅';
    font-size: 1rem;
    display: inline-block;
    width: 0.5rem;
    margin: 1rem 1.25rem 0 0;
}

/* ------------------ */
/*     SERVICOS       */
/* ------------------ */
.servicos {
    background-color: #152b40;
    color: #fafafa;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0;
}

.servicos .servicos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.servicos-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: left;
}

.servicos-col h1 {
    /* color: #bf9563; */
    color: #fafafa;
    text-align: center;
}

.servicos-col h3 {
    margin: 2rem 0 0.75rem 0;
    font-size: 1.75rem;
    text-decoration: underline;
}

.servicos-col p {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.35;
}

.servicos-col ul li {
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
}

.servicos-col ul li::before {
    content: '✅';
    font-size: 1rem;
    display: inline-block;
    width: 0.5rem;
    margin: 1rem 1.25rem 0 0;
}

.servicos-container img {
    width: 75%;
    /* max-width: 480px; */
    margin: auto;
}

/* ******************************** */
/*               FAQs               */
/* ******************************** */
.lb-faq {
    /* background-color: #152b40; */
    /* color: #fafafa; */
    background-color: #fafafa;
    color: #152b40;
    padding: 1rem 0 3rem;
}

.faq-sect {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-sect h2 {
    font-size: 3rem;
    margin: 2rem 0 .25rem 0;
    text-align: center;
}

.faq-content {
    width: 90vw;
    max-width: 1080px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fafafa;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.75rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
}

.faq-content .answer {
    max-height: 300px;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.5;
    font-size: 1.5rem;
}

/* ******************* */
/*      ACCORDION      */
/* ******************* */
.accordion {
    background-color: #eee;
    color: #152b40;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
    outline: none;
    transition: 0.4s;
    margin: 2px;
}

.active,
.accordion:hover {
    background-color: #D9D0BF;
}

.panel {
    padding: 10px 18px;
    width: 90%;
    display: none;
    background-color: white;
    overflow: hidden;
    font-size: 1.15rem;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}


@media screen and (max-width: 940px) {
    .servicos .servicos-container {
        grid-template-columns: 1fr;
    }

    .servicos-container img {
        width: 90%;
    }

    .servicos-col {
        padding: 0.75rem;
    }

    .faq-sect {
        width: 90%;
    }

    .accordion {
        width: 95svw;
    }

    .panel {
        width: 95svw;
    }
}